<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyyMMdd HH:mm:ss.SSS} [%t] %-5level %logger{36} %M - %msg%n" />
        </Console>

        <RollingFile name="RollingFile" fileName="logs/app.log" append="true"
                     filePattern="logs/$${date:yyyyMM}/app-%d{yyyyMMdd}-%i.log">
            <PatternLayout pattern="%d{yyyyMMdd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="CONSOLE"/>
            <!--
            <AppenderRef ref="RollingFile"/>
            -->
        </Root>
        <logger level="WARN" name="org.apache.catalina">
        </logger>
        <logger level="DEBUG" name="vanilla">
        </logger>
    </Loggers>
</Configuration>
